
<h1>Pirate</h1>
<p>
  <%= @pirate.name %>
  <br>
  <%= @pirate.height %>
  <br>
  <%= @pirate.weight %>
</p>

<!-- <h2>Display your first ship here</h2> -->



<!-- <h2>Display your second ship here</h2> -->


<h1>& their Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>
